{{#each this}}
<div class="country-card">
    <h2 class="country-name">{{name}}</h1>
    <div class="card-markup">
        <ul class="card-content">
            <li>Capital: {{capital}}</li>
            <li>Population: {{population}}</li>
            <li>Languages: 
                <ul class="language-name">
                    {{#each languages}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <div class="flag">
        <img src="{{flag}}" alt="country flag" width="200px">
    </div>
</div>
{{/each}}